# Ignore object files
*.o

# Ignore binary files
*.out
*.exe

# Ignore build directory
build/

# Ignore log files  
logs/
db_state/

# Ignore bash scripts   
*.sh

# Ignore ssh directory  
.ssh/

.omc/